section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  
  .Routes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .Route {
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .Route:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .Route:active {
    transform: translateY(0px);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .Route p {
    font-size: 2rem;
    color: black;
    text-align: center;
    margin: 0;
  }
  
  .Route img {
    width: 80%;
    height: auto;
  }
  